extends ../layout

block content
  h1= title
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='post', action='delete')
      #form-group
        label Event_id :
        input.form-control(name='event_id_pk', type='text')
      br
      input.btn.btn-primary(type='submit',value='Delete')

