extends ../layout

block content
  h1= title
  br
  .container
  if event
    .table-responsive
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            each column_value, column_name in event
              th(scope='col')= column_name
        tbody
          tr
            each column_value, column_name in event
              td(scope='col')= column_value
            td(scope='col')
              a(href='/events/delete/'+event.event_id_pk)
                button.btn.btn-primary(type='button') Delete
                | #{'  '}
              a(href='/events/update/'+event.event_id_pk)
                button.btn.btn-primary(type='button') Update
  if message
    h3= message