extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='')
      #form-group
        label Group_id :
        input.form-control(name='group_id_pk', type='text' value=group.group_id_pk)
      br
      #form-group
        label Name :
        input.form-control(name='group_name', type='text' value=group.group_name)
      br
      #form-group
        label No. of Members :
        input.form-control(name='group_members', type='text' value=group.group_members)
      br
      #form-group
        label Type :
        input.form-control(name='group_type', type='text' value=group.group_type)
      br
      #form-group
        label Category_id :
        input.form-control(name='category_id_fk', type='text' value=group.category_id_fk)
      br
      #form-group
        label Description :
        textarea.form-control(name='group_description', rows='4')= group.group_description
      br
      input.btn.btn-primary(type='submit',value='Update')
    br
    br