extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='add')
      #form-group
        label Category_id :
        input.form-control(name='category_id_pk', type='text')
      br
      #form-group
        label Category_name :
        input.form-control(name='category_name', type='text')
      br
      input.btn.btn-primary(type='submit',value='Add')
  br
  br
