extends ../layout

block content
  h1= title
  br
  .container
  if category
    .table-responsive
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            each column_value, column_name in category
              th(scope='col')= column_name
        tbody
          tr
            each column_value, column_name in category
              td(scope='col')= column_value
            td(scope='col')
              a(href='/categories/delete/'+category.category_id_pk)
                button.btn.btn-primary(type='button') Delete
                | #{'  '}
              a(href='/categories/update/'+category.category_id_pk)
                button.btn.btn-primary(type='button') Update
  if message
    h3= message
